# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
functions/venv/
ENV/
env/

# Firebase debug logs
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log
.firebase/

# IDE / Editor artifacts
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
